<footer>
    <div class="container">
        <h2 class="title text-center">Join Our Community</h2>
        <div class="social flex">
            <a href="" title="telegram" class="telegram">telegram</a>
            <a href="" title="twitter" class="twitter">twitter</a>
        </div>
    </div>
</footer>