<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/aos.js"></script>
<script>

    $(document).ready(function () {
        $('.navbar-toggle').on('click', function () {
            $(this).toggleClass('active');
            $('.navbar-collapse').toggleClass('show');
        });
        $('.navbar-collapse .close,.navbar-nav a').on('click', function () {
            $('.navbar-collapse').removeClass('show');
            $('.navbar-toggle').removeClass('active');
        });

        $('.navbar-nav a').on('click',function (){
            $('.navbar-nav a').removeClass('active');
            $(this).addClass('active');
        });



        AOS.init({
            easing: 'ease-out-back',
            duration: 1000,
            once: true,
            offset: 30,
        });
    });
</script>
</body>
</html>