<main>
    <div class="meme-frame1 py-md">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h1 class="title" data-aos="fade-up">Memeverse</h1>
                        <p class="txt-lg" data-aos="fade-up" data-aos-delay="200">A metaverse that aggregates all the hottest meme trends of recent times.</p>
                        <div class="box-btn flex" data-aos="fade-up" data-aos-delay="400">
                            <a href="" title="white paper" class="btn-whitepaper flex-center txt-sm">white paper</a>
                            <a href="" title="Join Fair Launch" class="btn-join flex-center txt-sm">Join Fair Launch</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/memeverse.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div id="about" class="meme-frame2 pt-md">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/meme.png" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content txt-md" data-aos="fade-up">
                        <h2 class="title">About Memeverse</h2>
                        <p>The Memeverse is a virtual realm where users can immerse themselves in a vast collection of the most popular and viral memes from various online platforms. It serves as a hub for meme enthusiasts, offering a unique and interactive experience centered around the world of internet humor.</p>
                        <p>In the Memeverse, users can explore different meme-themed environments, each dedicated to a specific meme category or trend. From classic reaction memes to dank memes, wholesome memes to ironic memes, and everything in between, the Memeverse has it all. Users can navigate through these environments, discovering and interacting with the memes they love.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="whitepaper" class="meme-frame3">
        <div class="content">
            <div class="container">
                <h2 class="title">Memeverse Highlight Features</h2>
                <ul class="feature-list txt-md flex">
                    <li data-aos="fade-right"><span>Staking</span></li>
                    <li data-aos="fade-right" data-aos-delay="200"><span>Decentralized Exchange</span></li>
                    <li data-aos="fade-right" data-aos-delay="400"><span>Metaverse</span></li>
                    <li data-aos="fade-right" data-aos-delay="600"><span>DAO</span></li>
                </ul>
                <div class="text txt-md font-italic">Memeverse is a meme token project that offers unique utilities for its token.</div>
                <div class="img-decor"><img src="./assets/img/img-decor.png" alt=""></div>
            </div>
        </div>
    </div>
    <div id="tokenomics" class="meme-frame4">
        <div class="content">
            <div class="flex">
                <div class="img-wrapper"><img src="./assets/img/meme-1.png" alt=""></div>
                <div class="box-text txt-md" data-aos="fade-up">
                    <h2 class="title">Tokenomics</h2>
                    <p>Trading tax: Buy <span>0</span> / Sell <span>1</span></p>
                    <p><span>1%</span> trading fee will be utilized for operational costs and marketing campaigns.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="meme-frame5">
        <h2 class="title text-center">Our Partner</h2>
        <ul class="partner-list flex">
            <li data-aos="fade-up"><a href=""><img src="./assets/img/pinksale.png" alt=""></a></li>
            <li data-aos="fade-up" data-aos-delay="200"><a href=""><img src="./assets/img/dexview.png" alt=""></a></li>
            <li data-aos="fade-up" data-aos-delay="400"><a href=""><img src="./assets/img/coinsult.png" alt=""></a></li>
            <li data-aos="fade-up" data-aos-delay="600"><a href=""><img src="./assets/img/binance.png" alt=""></a></li>
            <li data-aos="fade-up" data-aos-delay="800"><a href=""><img src="./assets/img/dextools.png" alt=""></a></li>
        </ul>
    </div>
    <div class="meme-frame6">
        <h2 class="title text-center">Memeverse Moon Map</h2>
        <div class="phase-list flex-center pr">
            <div data-aos="fade-up" class="item">
                <h2 class="title">Phase 1</h2>
                <ul class="list-txt txt-sm">
                    <li>Website & Whitepaper Deploy</li>
                    <li>Community Building</li>
                    <li>Pre Launch Marketing</li>
                    <li>Pinksale Fair Launch</li>
                    <li>Listing On PancakeSwap</li>
                </ul>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" class="item">
                <h2 class="title">Phase 2</h2>
                <ul class="list-txt txt-sm">
                    <li>CMC , CG Listing Event</li>
                    <li>Mainnet DEX</li>
                    <li>Staking Live</li>
                    <li>CEX Listing</li>
                    <li>KOL Partnership Collab</li>
                </ul>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" class="item">
                <h2 class="title">Phase 3</h2>
                <ul class="list-txt txt-sm">
                    <li>Global Billboard</li>
                    <li>Top Tier CEX AMA</li>
                    <li>Metaverse & GameFi Release</li>
                    <li>Youtube KOL Review GameFi</li>
                </ul>
            </div>
        </div>
    </div>
</main>