:root{
  --orange: #FF6E40;
  --black: #140000;
}
body{
  background: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 21px;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s; color: #000;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  background: #000;
  position: fixed; z-index: 9;
  &.scroll{box-shadow: 0 2px 4px rgba(#000,.18);}
  .navbar-toggle{display: none;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 22px 0;
  border-radius: 0; border: none;
  .logo{width: 214px;}
}

.navbar-collapse{
  padding: 0;
  justify-content: flex-start;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 200px; align-items: center;
  >*+*{margin-left: 42px;}
  > li{display: flex; align-items: center;}
  > li > a{display: block; padding: 0 9px; font-size: 20px; font-weight: 500; color: #fff; line-height: 36px; position: relative;}
  a:hover{color: #5B6E93;}
}

//main
main{min-height: 78vh; padding-top: 79px;}
.meme-frame1{
  background: url("#{$img-path}/bg-hero.jpg") no-repeat 0 0/cover;
  .content{padding-top: 28%;}
  .box-btn{
    margin-top: 50px;
    >*+*{margin-left: 32px;}
    a{height: 40px; padding: 0 6px; font-weight: 700; text-transform: uppercase;}
    .btn-whitepaper{
      min-width: 190px; border: 2px solid #000000; color: #000;
      &:hover{color: #5B6E93;}
    }
    .btn-join{
      min-width: 237px; background: #000; color: #CCF392;
      &:hover{background: #5B6E93; color: #FFEDE9;}
    }
  }
  .img-wrapper{animation: flash .8s infinite linear;}
  .row{margin: 0;}
  .col-md-6{padding: 0;}
}
.meme-frame2{
  position: relative;
  &:after{
    content: "";
    width: 100%; height: 81.2%;
    position: absolute; bottom: 0; left: 0;
    background: url("#{$img-path}/bg-about.png") no-repeat 50% 0/cover;
    z-index: -1;
  }
  .content{
    padding: 0 0 95px;
    p{margin-bottom: 32px;}
  }
  .row{margin: 0;}
  .col-md-6{padding: 0 5px;}
}
.meme-frame3{
  background: #DFAFFF; padding: vw(117px) 0; position: relative;
  &::after{
    content: "";
    position: absolute;
  }
  &::after{
    width: 1264px; height: 815px;
    background: url("#{$img-path}/mask.svg") no-repeat 0 0/contain;
    top: 15px; left: 0;
  }
  .title,.text{max-width: 625px;}
  .title{margin-bottom: 30px;}
  .text{margin-top: 40px;}
  .content{
    width: 1600px; max-width: 94%; margin: 0 auto;
    padding: vw(58px) 0 vw(84px);
    background: linear-gradient(90deg, rgba(72, 19, 165, 0.3) 0.7%, rgba(217, 217, 217, 0) 100%);
  }
  .feature-list{
    max-width: 690px;
    margin: 0 -8px;
    position: relative; z-index: 2;
    li{
      width: 100%;
      margin: 0 8px 21px;
      background: linear-gradient(90deg, #4215AC 0%, rgba(204, 11, 170, 0) 115.42%);
      border-radius: 15px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      &:nth-child(odd){max-width: 220px; padding: 19px 20px;}
      &:nth-child(even){max-width: 438px; padding: 19px 37px;}
    }
  }
  .img-decor{
    width: 46%;
    position: absolute; right: 0; bottom: 0;
  }
}
.meme-frame4{
  padding-top: 60px; background: #7FDCE4;
  .content{
    width: 1600px; max-width: 94%; margin: 0 auto;
  }
  .img-wrapper{width: 49.8%;}
  .box-text{
    width: 50%; padding-top: 8%; max-width: 630px;
    p{font-weight: 700;}
    p span{color: #FA00FF;}
  }
}
.meme-frame5{
  padding: 120px 15px 140px;
  background:#1b1a2d url("#{$img-path}/mask-1.png") no-repeat 0 0/cover;
  .title{margin-bottom: 40px; color: #fff;}
  .partner-list{
    justify-content: center;
    li{margin: 10px 17px;}
    a{
      width: 260px;
      height: 123px;
      display: flex; align-items: center; justify-content: center;
      padding: 10px 20px;
      background: #FFFFFF;
      border-radius: 15px;
    }
    img{transition: .3s;}
    a:hover img{transform: scale(1.05);}
  }
}
.meme-frame6{
  padding: 68px 15px 140px;
  background: url("#{$img-path}/bg-phase.jpg") no-repeat 0 0/cover;
  .title{margin-bottom: 30px; color: #fff;}
  .phase-list{
    padding-bottom: 86px;
    &::after{
      content: "";
      width: 836px; height: 26px; max-width: 80%;
      background: url("#{$img-path}/phase-line.svg") no-repeat 0 0/contain;
      margin: 0 auto;
      position: absolute; bottom: 0;
    }
    .item{
      width: 100%; min-height: 367px; max-width: 385px; margin: 10px;
      padding: 40px;
      background: #DDF5B4;
      border: 2px solid #598C3D;
      border-radius: 20px;
    }
    ul{
      li{position: relative; padding-left: 28px;}
      li::before{
        content: "";
        width: 12px; height: 12px; border-radius: 50%;
        background: #598C3D;
        position: absolute; left: 0; top: 11px;
      }
    }
    .title{margin: 0 0 15px 5px; color: #598C3D;}
  }
}

footer{
  padding: 67px 0 112px;
  background: #000;
  position: relative;
  .title{margin-bottom: 49px; color: #fff;}
  .social{margin-left: 0; justify-content: center;}
}

//uikit

.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.social{
  margin-left: auto;
  >*+*{margin-left: 45px;}
  a{display: block; font-size: 0; width: 31px; height: 25px;}
  .telegram{
    background: url("#{$img-path}/telegram.svg") no-repeat;
    &:hover{background: url("#{$img-path}/telegram-hover.svg") no-repeat;}
  }
  .twitter{
    background: url("#{$img-path}/twitter.svg") no-repeat;
    &:hover{background: url("#{$img-path}/twitter-hover.svg") no-repeat;}
  }
}
.title{
  margin-bottom: 25px;
  font-family: 'Racing Sans One', cursive;
  color: #000;
}
h1{font-size: 64px; line-height: 66px;}
h2.title{font-size: 48px; line-height: 60px;}
.center{text-align: center;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}

.txt-sm{font-size: 20px; line-height: 36px;}
.txt-md{font-size: 24px; line-height: 36px;}
.txt-lg{font-size: 32px; line-height: 42px;}
.txt-xl{font-size: 48px; line-height: 64px;}
.py-md{padding-top: 84px; padding-bottom: 84px;}
.pt-md{padding-top: 84px;}
.pb-md{padding-bottom: 84px;}

button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.btn-pr,.btn-sub{
  display: flex; align-items: center;
  height: 40px; padding: 0 20px;
  font-size: 14px; line-height: 21px;
}
.btn-pr{
  background: var(--orange);
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  &:hover{background: #BF5330; color: #fff;}
}
.btn-sub{
  background: #FFFFFF;
  border: 1px solid #D0CCCC;
  border-radius: 8px;
  color: var(--orange);
  &:hover{color: currentColor; background: #D0CCCC;}
}
.breadcrumb{
  padding: 27.5px 0; background: none; margin-bottom: 0;
  a{font-weight: 500; color: #726666;}
  .active{font-weight: 700; color: var(--black);}
  .breadcrumb-item + .breadcrumb-item::before{font-weight: 400; padding-right: .1rem;}
  .breadcrumb-item + .breadcrumb-item{padding-left: .1rem;}
}

@media (min-width: 1440px) {
  .container{max-width: 1304px;}
  .meme-frame2{
    .img-wrapper{margin-left: -13.88%;}
  }
}
@media (max-width: 1440px) {
  .navbar-nav{margin-left: 95px;}
  .meme-frame3::after{height: 703px;}
  .meme-frame5{
    padding: 90px 0 110px;
    .partner-list{
      a{width: 202px; height: 100px;}
    }
  }
  .meme-frame6{
    .phase-list{
      .item{max-width: 365px; min-height: 347px;}
    }
  }
  footer{padding: 47px 0 82px;}
  .txt-sm{font-size: 18px; line-height: 34px;}
  .txt-lg{font-size: 30px; line-height: 40px;}
  .txt-md{font-size: 21px; line-height: 32px;}
}


@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .social{margin-left: 25px;}
  }
  .navbar{
    width: 100%; padding: 18px 0; min-height: auto; justify-content: flex-start;
    .logo{width: 220px;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 63px; left: -100%;
    width: 100%; height: calc(100% - 63px);
    padding: 0;
    background: #000;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 25px;
    >*+*{margin: 40px 0 0;}
    > li > a{line-height: inherit; padding: 0;}
    a{text-align: center; font-size: 16px;}
    .active::after{display: none;}
  }

  main{padding-top: 63px; overflow: hidden;}


  footer{}
  .social{
    >*+*{margin-left: 25px;}
  }
  .container{max-width: 100%;}
}

@media (max-width: 820px) {
  .meme-frame1{
    .box-btn{
      margin-top: 40px;
      >*+*{margin-left: 16px;}
      .btn-whitepaper,.btn-join{min-width: auto; padding: 0 12px;}
    }
    .content{padding-top: 16%;}
  }

  h1{font-size: 52px; line-height: 50px;}
  .txt-xl{font-size: 42px; line-height: 56px;}
  .txt-lg{font-size: 26px; line-height: 34px;}
  .txt-sm{font-size: 17px; line-height: 30px;}
  .txt-md{font-size: 19px; line-height: 30px;}
}

@media (max-width: 767px) {
  .meme-frame1{
    .img-wrapper{max-width: 90%; margin: 0 auto;}
    .content{padding-top: 10%;}
    .row{flex-direction: column-reverse;}
  }
  .meme-frame2{
    &::after{
      top: inherit; bottom: 0; height: 65%;
    }
    .row{flex-direction: column-reverse;}
    .content{padding-top: 0;}
  }
  .meme-frame3{
    padding: 54px 0;
    .title{font-size: 37px; line-height: 46px;}
    .feature-list{
      li:nth-child(even){padding: 19px;}
    }
    .text{margin-top: 10px;}
    .content{padding: 30px 0; max-width: calc(100% - 30px);}
    .img-decor{
      position: relative; width: 100%;
      right: -30px; bottom: -30px;
    }
  }
  .meme-frame4{
    .flex{flex-direction: column-reverse;}
    .img-wrapper,.box-text{width: 100%;}
    .box-text{padding: 0 0 30px;}
  }
  .meme-frame5{
    padding: 54px 0;
    .partner-list{
      li{margin: 10px;}
      a{padding: 10px; width: 130px; height: 75px;}
    }
  }
  .meme-frame6{
    padding: 54px 15px;
    .phase-list{
      padding-bottom: 66px;
      
      .item{min-height: auto; padding: 26px;}
    }
  }
  footer{
    padding-bottom: 47px;
  }
  .py-md{padding-top: 54px; padding-bottom: 54px;}
  .pt-md{padding-top: 54px;}
  h2.title{font-size: 44px; line-height: 52px;}
  .txt-lg{font-size: 25px;}
}

@media (max-width: 480px) {


  footer{
    .logo{margin-bottom: 15px;}
    .btn-whitepaper{width: 60%; margin: 0; text-align: left;}
    .social{margin-left: auto;}
  }
}

//animate
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}